@if (Enumerable.Count(Model.Types) > 0) {
  <table class="table table-bordered type-list" style="border-color:#2f2f2f">
    <thead>
      <tr><td style="border-color:#2f2f2f">Type</td><td style="border-color:#2f2f2f">Description</td></tr>
    </thead>
    <tbody>
      @foreach (var it in Model.Types)
      {
        <tr>
          <td class="type-name" style="border-color:#2f2f2f">
            <a href="@(it.UrlName).html">@it.Name</a>
          </td>
          <td class="xmldoc" style="border-color:#2f2f2f">@it.Comment.Blurb</td>
        </tr>
      }
    </tbody>
  </table>
}
@if (Enumerable.Count(Model.Modules) > 0) {
  <table class="table table-bordered module-list" style="border-color:#2f2f2f">
    <thead>
      <tr><td style="border-color:#2f2f2f">Module</td><td style="border-color:#2f2f2f">Description</td></tr>
    </thead>
    <tbody>
      @foreach (var it in Model.Modules)
      {
        <tr>
          <td class="module-name" style="border-color:#2f2f2f">
            <a href="@(it.UrlName).html">@it.Name</a>
          </td>
          <td class="xmldoc" style="border-color:#2f2f2f">@it.Comment.Blurb</td>
        </tr>
      }
    </tbody>
  </table>
}